---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$dark-green: #003100;
$medium-green: #009000;
$light-green: #7eb67e;

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #e22ac3;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$light-gray:       rgb(236, 236, 236);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "variables.scss",
        "helium/mixins.scss",
        "helium/typography.scss",
        "helium/sections.scss",
        "helium/buttons.scss",
        "helium/navigations.scss",
        "helium/components.scss",
        "helium/features.scss",
        "helium/pricing.scss",
        "helium/blog.scss",
        "helium/progress-bars.scss",
        "helium/sliders.scss",
        "helium/forms.scss",
        "helium/labels-badges-alerts.scss",
        "helium/portfolio.scss",
        "helium/table.scss",
        "helium/accordions.scss",
        "helium/responsive.scss",
        "aos/aos.scss"
;

// Custom styles
.bg-gray {
    background-color: $grey-color;
}

.bg-light-gray {
    background-color: $light-gray;
    .navbar-nav .nav-link{
        color: $text-color;
    }
}

header.bg-primary {
    // background-color: $dark-green !important;
    background-color: #2c5435 !important;
    background-image: url("/img/absurdity.png");
}

.social-footer a {
    color: white;
}

.social-footer a i{
    border: 1px solid white;
}

.social-footer{
    .fa-instagram:hover{
        background: #e4ade4;
        color: #fff;
        border-color: #e4ade4;
      }
}

footer {
    background: #696969;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding-bottom: 1rem;
    top: 120px;
}

.services {
    margin-bottom: 80px;
    position: relative;
    z-index: 0; 
    padding: 1.5em;
    -webkit-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
    -ms-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
    -o-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
}

.services.color-1 {
    border-bottom: 2px solid $dark-green; 
}

.services.color-2 {
    border-bottom: 2px solid $medium-green; 
}

.services.color-3 {
    border-bottom: 2px solid $light-green; 
}

.services .icon {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    width: 100px;
    height: 50px;
    display: table;
    margin: 0 auto;
}

.services.color-1 .icon {
    background: $dark-green; 
}

.services.color-2 .icon {
    background: $medium-green; 
}

.services.color-3 .icon {
    background: $light-green; 
}

.services .icon:before, .services .icon:after {
    position: absolute;
    left: 0;
    right: 0;
    content: ''; 
}

.services .icon:before {
    top: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 30px 50px;
}

.services.color-1 .icon:before {
    border-color: transparent transparent $dark-green transparent; 
}

.services.color-2 .icon:before {
    border-color: transparent transparent $medium-green transparent; 
}

.services.color-3 .icon:before {
    border-color: transparent transparent $light-green transparent; 
}

.services .icon:after {
    bottom: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 50px 0 50px;
}

.services.color-1 .icon:after {
    border-color: $dark-green transparent transparent transparent;
}

.services.color-2 .icon:after {
    border-color: $medium-green transparent transparent transparent;
}

.services.color-3 .icon:after {
    border-color: $light-green transparent transparent transparent;
}

.services .icon i {
    font-size: 30px;
    color: #fff;
    z-index: 1;
    display: table-cell;
    vertical-align: middle; 
}

.services .desc {
    margin-top: 60px; 
}
