---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$dark-green: #003100;
$medium-green: #009000;
$light-green: #7eb67e;

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #e22ac3;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$light-gray:       rgb(236, 236, 236);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "variables.scss",
        "helium/mixins.scss",
        "helium/typography.scss",
        "helium/sections.scss",
        "helium/buttons.scss",
        "helium/navigations.scss",
        "helium/components.scss",
        "helium/features.scss",
        "helium/pricing.scss",
        "helium/blog.scss",
        "helium/progress-bars.scss",
        "helium/sliders.scss",
        "helium/forms.scss",
        "helium/labels-badges-alerts.scss",
        "helium/portfolio.scss",
        "helium/table.scss",
        "helium/accordions.scss",
        "helium/responsive.scss",
        "aos/aos.scss"
;

// Custom styles
.bg-gray {
    background-color: $grey-color;
}

.bg-light-gray {
    background-color: $light-gray;
    .navbar-nav .nav-link{
        color: $text-color;
    }
}

header.bg-primary {
    // background-color: $dark-green !important;
    background-color: #2c5435 !important;
    background-image: url("/img/absurdity.png");
}

.social-footer a i{
    border: 1px solid $dark-green;
}

.social-footer{
    .fa-instagram:hover{
        background: #e4ade4;
        color: #fff;
        border-color: #e4ade4;
      }
}

footer {
    background: #696969;
  }