<!-- Footer Section -->
<footer class="footer dark-footer">
  <!-- Container Starts -->
  <div class="container">
    <!-- Row Starts -->
    <div class="row section">
      <!-- Footer Widget Starts -->
      <div class="footer-widget col-md-4 col-xs-12 wow fadeIn">
        <h3 class="small-title">
          Sobre
        </h3>
        <p>
          {{ site.description }}
        </p>
        <div class="social-footer">
          <a href="https://www.facebook.com/{{site.facebook_profile}}" target="_blank"><i class="fa fa-facebook icon-round"></i></a>
          <a href="https://www.instagram.com/{{site.instagram_profile}}" target="_blank"><i class="fa fa-instagram icon-round"></i></a>
        </div>
      </div>
      <!-- Footer Widget Ends -->

      <!-- Footer Widget Starts -->
      <div class="footer-widget col-md-4 col-xs-12 wow fadeIn"
        data-wow-delay=".2s">
        <h3 class="small-title">
          Links
        </h3>
        <ul class="menu">
          <li><a href="sobre.html">Sobre a terapia</a></li>
          <li><a href="tratamentos.html">Tratamentos</a></li>
          <li><a href="contato.html">Contato</a></li>
        </ul>
      </div>
      <!-- Footer Widget Ends -->

      <!-- Footer Widget Starts -->
      <div class="footer-widget col-md-4 col-xs-12 wow fadeIn"
        data-wow-delay=".5s">
        <h3 class="small-title">
          GALLERY
        </h3>
        <div class="plain-flicker-gallery">
          <a href="#"><img src="img/flicker/img1.jpg" alt=""></a>
          <a href="#"><img src="img/flicker/img2.jpg" alt=""></a>
          <a href="#"><img src="img/flicker/img3.jpg" alt=""></a>
          <a href="#"><img src="img/flicker/img4.jpg" alt=""></a>
          <a href="#"><img src="img/flicker/img5.jpg" alt=""></a>
          <a href="#"><img src="img/flicker/img6.jpg" alt=""></a>
        </div>
      </div>
      <!-- Footer Widget Ends -->

    </div>
    <!-- Row Ends -->
  </div>
  <!-- Container Ends -->

  <!-- Copyright -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="copyright-text">Psicóloga Camila de Oliveira Cuer Ton - CRP {{site.crp}}</p>
          <p class="copyright-text">Todos os direitos reservados © 2019</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright  End-->

</footer>
<!-- Footer Section End-->