<!-- Header -->
<header class="bg-primary mb-5 splash-logo" data-aos="fade" data-aos-once="true"
  data-aos-duration="{{ site.midAnimDuration }}">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-8">
        <h1 class="display-4 text-white text-center text-lg-left mt-5 mb-2">Psicóloga
          Camila Cuer</h1>
        <p class="lead mb-5 text-white-50 text-center text-lg-left">Atendimento
          individual para adolescentes e adultos<br>Terapia
          Cognitivo-Comportamental</p>
      </div>
      <div class="col-center col-lg-4 text-center"><img src="img/logo_only.png"
          alt="" height="150px;"></div>
    </div>
  </div>
</header>
