<!-- Navigation -->
<nav id="navbar" class="navbar navbar-toggleable-sm navbar-expand-md navbar-light bg-light-gray fixed-top transparent-md-down">
    <div class="container">
        <a class="navbar-brand show-md-up" href="/"><img src="img/logo_only.png" style="height: 45px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" id="nb_home">
                    <a id="nbSectionHome" class="nav-link" href="/">Início
                        <span class="sr-only">/span>
                    </a>
                </li>
                <li class="nav-item" id="nb_about">
                    <a id="nbSectionAbout" class="nav-link" href="sobre.html">Sobre</a>
                </li>
                <li class="nav-item" id="nb_treatments">
                    <a id="nbSectionTreatment" class="nav-link" href="tratamentos.html">Tratamentos</a>
                </li>
                <li class="nav-item" id="nb_contact">
                    <a id="nbSectionContact" class="nav-link" href="contato.html">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>