// Font and Styles
@import url('https://fonts.googleapis.com/css?family=Exo+2:600|Arial:400');
$primary-font: 'Arial', sans-serif;
$bold-font: 'Exo 2', sans-serif;
$regular: 400;
$bold: 700;
$light: 300;
$letter-spacing: 0px;

// Theme Colors
$preset: $dark-green;
$preset-hover: $medium-green;
$primary: $medium-green;
$primary-hover: $light-green;
$success: #87c056;
$success-hover: #74a44a;
$info: #4da5e2;
$info-hover: #428fc4;
$warning: #ffcc66;
$warning-hover: #e1b459;
$danger: #ec7160;
$danger-hover: #cd6254;
$title-color: #444;
$sub-title-color: #999;
$text-color: #444;
$bg-color: #f7f7f7;
$dark-bg-color: #222;
$body-bg: #ffffff;
$white: #fff;
$light-grey: #ddd;
$grey: #ccc;
$dark-grey: #333;
$black: #000;
$preset-transparent: RGBA(235, 88, 111, 0.7);

// Social Colors

$facebook: #4e68a1;
$facebook-hover: #3b4f7a;
$twitter: #65b5f2;
$twitter-hover: #5294c6;
$google: #e05d4b;
$google-hover: #b94c3d;
$linkedin: #2083bc;
$linkedin-hover: #186592;
$pinterest: #d2373b;
$pinterest-hover: #ad2c2f;
$dribbble: #ec5f94;
$dribbble-hover: #b4446e;